@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-inner-background: 253 252 247;
  --color-outer-background: 36 57 50;
  --color-primary: 36 57 50;
  --color-secondary: 51 51 51;
  --color-active: 71 107 95;
}

body {
  font-size: 14px;
  color: rgb(var(--color-secondary))
}